#reviews {
    width: 85%;
    justify-content: space-evenly;

    aside {
        height: 100%;
        width: 25%;
        gap: 0.8rem;

        h1 {
            font-size: 2rem;
        }

        .rating {
            white-space: nowrap;

            span {
                color: #F6BB06;
                font-size: 2.8rem;
            }
        }

        p {
            font-size: 1.2rem;
        }

        img {
            width: 9rem;
        }
    }

    #carousel-wrapper {
        width: 75%;
        height: 100%;
        position: relative;

        .slick-slider {
            overflow: hidden;
            display: flex;
        }

        .navigation-button button {
            border: none;
            background: none;
            cursor: pointer;
            transition: all ease 0.1s;

            span {
                font-size: 3rem;
                font-weight: 100;
            }

            &:hover {
                color: grey;
            }
        }

        .review {
            width: 90%;
            height: clamp(20rem, 20rem, 30rem);
            background: #eee;
            padding: 1.5rem;
            gap: 1rem;
            transition: all 1s ease !important;

            &.expanded {
                height: 23rem;
            }

            .review-head {
                width: 100%;
                height: 4rem;
                justify-content: space-between;

                .profile-details {
                    gap: 1rem;

                    .profile-pic {
                        width: 3rem;
                        border-radius: 50%;
                    }

                    span {
                        color: grey;
                    }
                }

                .google-logo {
                    width: 1.8rem;
                }
            }

            .review-body {
                .rating {
                    white-space: nowrap;

                    span {
                        color: #F6BB06;
                        font-size: 1.8rem;
                    }
                }

                .review-text {
                    width: 100%;
                    height: 7rem;
                    /* background: red; */
                    transition: all ease 0.5s;
                    text-transform: capitalize;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.expanded {
                        display: flex;
                        height: 12rem;
                    }
                }
            }

            .read-more {
                text-align: left;
                font-size: 1rem;
                background: none;
                border: none;
                cursor: pointer;
                color: gray;
                width: fit-content;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}