@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 50rem;
    background-image: url('/public/imgs/bg.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-10rem) scale(1);
    z-index: 0;
    position: relative;

    #content {
        width: 100%;
        height: fit-content;
        background: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(0.7rem);
        gap: 7rem;
        position: absolute;
        z-index: 0;

        #landing-content {
            width: 84%;
            height: 62rem;
            position: relative;
            align-items: center;

            #part-1 {
                width: 100%;

                aside {
                    width: 50%;
                    height: 48rem;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 1.5rem;

                    h1 {
                        font-size: 2.5rem;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 1.5rem;
                        color: #333;
                    }
                }

                figure {
                    width: 50%;
                    height: 48rem;
                    position: relative;
                    overflow-x: hidden;
                    object-fit: cover;

                    img {
                        object-fit: cover;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            #part-2 {
                width: 100%;
                height: 14rem;
                background: #fff;
                padding: 5rem;
                text-transform: uppercase;
                font-size: 1.3rem;
                box-shadow: 0 0 3rem rgba(0, 0, 0, 0.25);
                justify-content: space-between;

                h1 span {
                    color: #006633;
                }

                button {
                    width: 28rem;
                    border-radius: 10rem;
                    height: 5.5rem;
                    border: none;
                    cursor: pointer;
                    font-weight: bolder;
                    background: #006633;
                    color: #fff;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    border: 0.1rem solid transparent;

                    &:hover {
                        animation: button 0.4s forwards;
                    }
                }
            }
        }

        #cards {
            width: 86%;
            height: fit-content;
            flex-grow: 1;
            justify-content: space-between;

            #card {
                width: calc(86%/5);
                height: fit-content;

                figure {
                    width: 100%;
                    height: 22rem;
                    /* background: red; */
                    align-items: center;
                    justify-content: space-between;

                    img {
                        /* background: green; */
                        height: 50%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    figcaption {
                        height: 50%;
                        justify-content: center;
                        /* background: lightseagreen; */

                        span {
                            font-size: 2rem;
                            color: #006633;
                            font-weight: bolder;
                            
                            &::after {
                                content: '';
                                width: 5rem;
                                height: 0.3rem;
                                background: #006633;
                                position: absolute;
                                left: 22%;
                                top: 50%;
                            }
                        }
                    }
                }

                article {
                    p {
                        font-size: 1.4rem;
                        color: grey;
                    }
                }
            }
        }
    }
}

@keyframes button {

    30%,
    70% {
        font-size: 1.4rem;
    }

    50%,
    90% {
        font-size: 1.3rem;
    }

    100% {
        color: #006633;
        background: #fff;
        border: 0.1rem solid #006633;
    }
}